body {
    align-content: center;
    align-self: auto;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(252, 0, 42) 0%, rgb(7, 158, 32) 100%);}

#countLabel{
    display: block;
    text-align: center;
    font-size: 8em;
}

#countLabelTwo{
    display: block;
    text-align: center;
    font-size: 8em;
}
#h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font: bolder;
}

#h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font: bolder;
}

#teamOne {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font: bolder;
    
    
}

#teamTwo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font: bolder;
}

#buttons {
    margin: auto;
    max-width: fit-content;
}

.flex-container {
    margin-right: auto;
    font-style: oblique;
    font-size: x-large;
    color: azure;
}

#tOneOuts {
    margin-right: auto;
    font-style: oblique;
    font-size: x-large;
    color: azure;

}

#tTwoOuts {
    margin-right: auto;
    font-style: oblique;
    font-size: x-large;
    color: azure;

}